<html>
    <head>
        <link rel='stylesheet' href='/src/login.css'>
    </head>
    <body>
        <form class="form" method='POST' action='/login/'>
            <h1>The Focus App</h1>
            <input type="string" placeholder="phone" name='phone'>
            <input type="password" placeholder="Password" name='password'>
            <button type="submit" id="login-button">Login</button>
            <% if(message!=''){ %>
                <h1><%=message%></h1>
            <%} else {%>
                <p class="message">Not registered? <a href="/login/signup">Create an account</a></p>
            <%}%>
        </form>

    </body>
</html>