<html>
    <head>
    </head>
    <body>
        <% if(message!=''){ %>
            <h1><%=message%></h1>
        <%}%>
        <form class="form" method='POST' action='/login/'>
            <input type="email" placeholder="Email" name='email'>
            <input type="password" placeholder="Password" name='password'>
            <button type="submit" id="login-button">Login</button>
        </form>
    </body>
</html>