<html>
    <head>
            <link rel='stylesheet' href='/src/login.css'>
    </head>
    <body>
        <form class='form' method='POST' action='/login/signup'>
            <h1>The Focus App</h1>
            <% if(message!=''){ %>
                <p class='message'><%=message%></p>
            <%} %>
            <input name='phone' type='phone' placeholder = 'phone #, format: 7581114444'>
            <input name='firstname' placeholder='First Name'>
            <input name='password1' placeholder="Password">
            <input name='password2' placeholder="Confirm Password">
            <button type='submit'>Sign Up</button>
        </form>
    </body>
</html>