<html>
    <head>

    </head>
    <body>
        <form method='POST' action='/login/signup'>
            <input name='email' type='email' placeholder = 'Email'>
            <input name='password1' placeholder="Password">
            <input name='password2' placeholder="Confirm Password">
            <button type='submit'>Sign Up</button>
        </form>
        <% if(message!=''){ %>
            <h1><%=message%></h1>
        <%}%>
    </body>
</html>