<html>
    <head>
        <link rel='stylesheet' href='/src/login.css'>
    </head>
    <body>
        <div class='form'>
            <h1>The Focus App</h1>
            <p>That's it! You're done for the day, you should receive a text from your personalized Focus App phone number. Your stakeholder has been alerted and you'll be ready to go.</p>
        </div>
    </body>
</html>